@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

.Auth {
  background-image: url('https://cdn.unifiedcommerce.com/content/product/large/1058_wine_bottles_1200_rgb.jpg');
  background-repeat: repeat-x;
}

.auth-main {
  color: $pop;
  font-family: 'PT Sans', sans-serif;
  font-size: 44px;
  margin: 0px;
}

.auth-display {
  color: $pop;

  // .auth-header {
  //   display: flex;
  //   justify-content: space-between;
  // }
}