@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

.main-header {
  color: $pop;
  font-family: 'PT Sans', sans-serif;
  font-size: 44px;
  margin: 0px;
}